<%= simple_form_for([:admin, @product]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :current_price %>
    <%= f.input :quantity %>
    <%= f.input :description %>
    <%= f.association :brand %>
    <%= f.association :category %>

    <%= f.input :avatar, as: :file, label: "Upload a New Product Image" %>
    <% if @product.avatar.exists? %>
      <%= label_tag "Current Image" %>
      <p><%= image_tag @product.avatar.url(:thumb) %></p>
      <br>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
